# Python
*.pyc
*~
__pycache__
.idx/.data

# Database
db.sqlite3

# Static files
backend/static/*

# Media files
media/

# Environment
.env
.venv
venv
env/

# Node
node_modules/
npm-debug.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

yolo*backend/static/frontend/main.js
backend/static/frontend/main.js.LICENSE.txt
